version: 1.0.{build}
os: Visual Studio 2017
configuration: Release
platform: Any CPU
build:
  verbosity: minimal

on_failure:
  - ps: Get-ChildItem $env:temp\*.png | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }
