type project
tags xaml wpf watermark adorner overlay attachedproperty
projectUrl https://github.com/JohanLarsson/Gu.Wpf.Adorners
licenseUrl http://opensource.org/licenses/MIT

releasenotes
  FEATURE: DragAdorner
  BUGFIX: Use weak event handlers to elminiate any memory leaks.

excludeddependencies
  JetBrains.Annotations
  StyleCop.Analyzers
  WpfAnalyzers
  Gu.Analyzers
